body{
background-color: aqua;
width: 99%;
}

ul{
list-style-type: none;
margin: 50px 0px 0px 20px;
height: 0px;
}

li{
display: inline-block;
font-size: 25px;
padding: 0px 50px 0px 0px;
}

a.active {
color: mediumorchid;
}

ul, li, a{
color: yellow;
}

ul, li, a:hover{
transition: 2s ease;
color: mediumorchid;
}

h1{
text-align: center;
font-size: 100px;
color: yellow;
cursor: pointer;
}

h1:hover{
transition: 2s ease;
color: mediumorchid;
}

img {
margin-left: 670px;
width: 30%;
height: 30%;
}