body{
background-color: aqua;
width: 99%;
}

ul{
list-style-type: none;
margin: 50px 0px 0px 20px;
height: 100px;
}

li{
display: inline-block;
font-size: 25px;
padding: 0px 50px 0px 0px;
}

a.active {
color: mediumorchid;
}

ul, li, a{
color: yellow;
}

ul, li, a:hover{
transition: 2s ease;
color: mediumorchid;
}

img {
width: 80%;
height: 80%;
}

.right{
width: 30%;
padding: 20px 100px 0px 0px;
float: right;
}

.down{
width: 60%;
float: left;
padding: 0px 0px 50px 0px;
}

p{
padding: 0px 0px 0px 200px;
font-size: 30px;
color: mediumorchid;
}

h1{
color: yellow;
margin: 200px 0px 0px 100px;
font-size: 60px;
cursor: pointer;
}

h1:hover{
transition: 2s ease;
color: mediumorchid;
}

h2{
color: yellow;
padding: 0px 0px 20px 100px;
font-size: 40px;
}

h3{
color: yellow;
padding: 10px 0px 20px 100px;
font-size: 50px;
text-decoration: underline;
}

span {
color: mediumorchid;
font-size: 40px;
font-weight: bold;
}